import React from 'react';

type <%- componentName %>Props = {
    children?: React.ReactNode;
}

export function <%- componentName %>(props: <%- componentName %>Props) {
    return (
        <div>
            <%- componentName %>
        </div>
    );
}
