import React, { Component } from 'react';
import style from './<%- componentName %>.scss';

export class <%- componentName %> extends Component {
    render() {
        return (
            <div className={style.<%- componentName %>}>
                <%- componentName %>
            </div>
        );
    }
}
